@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body{
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}
#hero{
    min-height: 70vh;
}
#wedo{
    margin-bottom: 4rem ;
}
.b-1{
    width:8rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
    }
.b-2{
        background: linear-gradient(to right, #373b44, #4286f4);
        width:8rem;
        padding: 1rem 1rem;
        border-radius: 2rem;
        color: #fff;     
        }
.b-1:hover{
    background: linear-gradient(to right, #373b44, #4286f4);
    color: white;
}
.b-2:hover{
    background: white;
    color: black;
}
.line{
    border-bottom: 5px solid yellow;
    padding: 1rem 0;
}
a{
    text-decoration: none;
    
}
a.navbar-brand{
    letter-spacing: 0.2rem;
}
a.nav-link{
    letter-spacing: 0.1rem;
    font-weight: 500;
}
.send:hover{
background-color: transparent!Important;
color: black;
}
@media only screen and (max-width:760px){
    /*mobile*/
    .sideman{
        display: none;
    }
    .map{
        width: 100%;
    }
}
@media only screen and (max-width:991px){
    .map{
        width: 100%;
    }
    .m{
        margin-left: 25px!Important;
    }
}
